.container{
    margin:4vh;
    .post{
        padding: 4vh 4vw;
        margin: 0 auto 0 auto;
        background:$front-color;

        .postText{
            .postTitle{
                margin: 0 0 2.5vh 0;
                font-size: 2.1875rem;
                line-height: 2.625rem;
                font-weight: 400;
            }
            .postContetnt{
                p{
                    font-size: 1.1875rem;
                    line-height: 1.8125rem;
                    margin: 1rem 0 2.5rem 0;
                }
            }
        }
    }
    .sidebar{
        height: 100%;
        padding: 4vh 4vw;
        background:$front-color;
    }
}

@include media('<=tablet'){
    .container{
        margin:0;

        .post{
            flex-direction: column-reverse;
            margin:.5vw;
            .postText{
                width: 100%;
            }
            .postImg{
                width:100%;
            }
        }
        .sidebar{
            margin:.5vw;
        }
    }

}
    