/*------------------Basic Config------------------*/
body {
  font-family: 'Roboto', sans-serif; 
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
  /*------------------Header------------------*/
.inner__header{
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.inner__inner__header{
    padding-bottom:35px;
    background-image: url(../includes/pictures/2.jpg);
    background-size:cover;
    background-position: center;
}
.logotypepic img{
    margin-top:20px;
}
.title h1{
    color:whitesmoke;
    font-size: 28px;
    margin-top:20px;
}
.header__top__menu{
    margin-top:20px;
    
}
.header__top__menu ul{
    padding:0 25px 0 0;
}
.header__top__menu ul li{
    display: inline-block;
    margin-right: 15px;
}
.header__top__menu ul li a{
    font-size: 20px;
    color: red;
}
.header__bottom {
    height: 50px;
    background-color: black;
    line-height: 50px; }
.header__bottom nav ul li {
    display: inline-block;
    margin-right: 34px; }
.header__bottom nav ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 3px 10px; }
.header__bottom nav ul li a:hover {
    border-bottom: 2px solid white;
}
@media only screen and (max-width: 725px){
    .logotypepic img{
        margin-top:20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .header__top__menu ul{
        padding:0;
        text-align: center;
    }
    .title h1{
        color:whitesmoke;
        font-size: 28px;
        margin-top:20px;
        text-align: center;
    }
} 
/*------------------Leftblock------------------*/
.inner__article{
    min-height: 300px;
    float:left;
}
@media only screen and (max-width: 600px) {
    .inner__article {
      padding:0;
      background: white;
    }
  }

.articles__link{
    font-size: 20px;
    color: black;
    font-weight: 300;
}
.block{
    margin-bottom:30px;
    background: #D3D3D3;
    padding: 35px;
}
@media only screen and (max-width: 600px) {
    .block {
      padding:0;
      background: white;
    }
  }
  .textholder{
      height:400px;
  }

/*------------------Articles------------------*/
.content__1{
    padding-right: 5px;
}

.block1{
    margin-top:20px;
    float:left;
}
.block1__1{
    line-height:20px;
    flex-direction: column;
    position: relative;
    left:5px;
    padding-right:20px;
}
.picture1{
    height:125px;
    width:125px;
    float:left;
}
/*------------------Sidebar------------------*/
.sidebar{
    min-height: 700px;
    float:left;
}
.inner__sidebar{
    min-height:700px;
}
.sidebar__block{
    padding:10px;
    background: #D3D3D3;
    min-height:150px;
    margin-bottom:30px;
}
@media only screen and (max-width: 600px) {
    .sidebar__block {
      padding:10px;
      background: white;
    }
  }

/*------------------Footer------------------*/
.inner__footer{
	background: #3d3c66;
	height: 200px;
    margin-top: 10px;
}
