@import './myLib/lib';
@import './mixins';
@import './colors';
@import '../header/header';
@import '../fourBoxes/fourBoxes';
@import '../footer/footer';
@import '../article/article';

//Admin Area
@import '../admin/admin_scss/login';
@import '../admin/admin_scss/adminMain';
//Admin Area End

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

//CommonStyles
*{
    box-sizing: border-box;
}


body{
    font-family: 'Lato', sans-serif;
    background: $back-color;
}

small{
    font-weight: 500;
    color:$smallColor !important;
    font-size: .75rem;
    line-height: 1.375rem;
}

p{
    color:$parColor;
}

a{
    color:lighten($linkColor, 10%);
    &:hover{
        color:darken($linkColor, 50%);
    }
}
button{
    text-transform: uppercase;
    outline: 0;
    background: $buttonColor;
    border: 0;
    padding: 1rem;
    color: $front-color;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    width: auto;
    &:hover,&:active,&:focus {
        background: darken($buttonColor, 10%);
      }
}

h1,h2,h3,h4,h5,h6{
    color: $HeadingColor;
}

th,td{
    padding: 1rem;
}

// .postCat{
//     font-weight: 500;
//     margin-bottom: 1vh;
//     line-height: 1.375rem;
//     font-size: .875rem
// }

.error{
    padding: 2vw;
    background: red;
    font-size: 1rem;
    color: $front-color;
}

.hide{
    display: none !important;
}
.show{
    display: block !important;
}
.fancyBoxShadow{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
//CommonStyles END

//INDEX.PHP
.postMain{
    justify-content: space-evenly;

    .postDemo{
        display:flex;
        margin:2vw;
        background:$front-color;

        .postText{
            width: 60%;
            padding:1.5rem;

            .postTitle{
                margin:0;
                a{
                    font-size: 1.375rem;
                    line-height: 1.625rem;
                    font-weight: 400;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            .postDesc{
                padding:1vh 0 1vh 0;
                font-size: 1rem;
                line-height: 1.5rem;
            }

            .readMore{
                font-weight: bold;
                color: $readMoreColor !important;
                flex-wrap: nowrap;
                &:hover{
                    color: darken($readMoreColor, 20%) !important;
                }
            }
        }

        .postImg{
            width:40%;

            img{
                width:100%;
                height:100%;
                display: block;
                object-fit: cover;
            }
        }
    }    
}

@include media('<=tablet'){
    .postMain{
        .postDemo{
            flex-direction: column-reverse;
            margin:.5vw;
            .postText{
                width: 100%;
            }
            .postImg{
                width:100%;
            }
        }
    }
}
//INDEX.PHP END