.authForm{
    height: 100vh;

    form{
        background:$front-color;
        padding:3rem;
        width: 30%;

        input{
            outline: 0;
            background: $back-color;
            border: 0;
            margin: 0 0 1rem;
            padding: 1rem;
            width: 100%;
        }
        button{
            width: 100%;
        }
    }
}