.authForm{
    height: 100vh;

    form{
        background:$front-color;
        padding:3rem;
        width: 30%;
        min

        input{
            outline: 0;
            background: $back-color;
            border: 0;
            margin: 0 0 1rem;
            padding: 1rem;
            width: 100%;
        }
        button{
            margin-top: 1vh;
            width: 100%;
        }
    }

    @include media('<=tablet'){
        form{
            width: 80%;
        }
    }

    @include media('<=phone'){
        form{
            width: 100%;
        }
    }
}